{% extends 'base.html' %} {% block contenidoDinamico %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="h1 mb-5 animate__animated animate__fadeInDown">
                        Welcome to Book Loans Service!
                    </h1>
                    <!-- Subheading-->
                    <h2 class="h4 mb-5 animate__animated animate__fadeInDown">
                        Your one-stop solution for managing book loans efficiently
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container align-content-center text-center mt-4">
    <a class="btn btn-secondary mb-4 mx-2" href="{% url 'nuevo_prestamo' %}">Nuevo Prestamo</a>
    <a class="btn btn-secondary mb-4 mx-2" href="{% url 'nuevo_cliente' %}">Registrar Cliente</a>
    <a class="btn btn-secondary mb-4 mx-2" href="{% url 'lista_prestamos' %}">Lista De Prestamos</a>
    <a class="btn btn-secondary mb-4 mx-2" href="{% url 'lista_libros' %}">Lista De Libros</a>
    <a class="btn btn-secondary mb-4 mx-2" href="{% url 'lista_autores' %}">Lista De Autores</a>
</div>


{% endblock contenidoDinamico %}