{% extends 'base.html' %} {% block contenidoDinamico %}
<header class="masthead">
    <div class="container-fluid text-center mt-5 text-white">
        <div class=" text-center">
            <h2 class="display-5 my-2">Welcome to Book Loans Service!</h2>
            <h3 class="h3 my-4 mt-5">
                Your one-stop solution for managing book loans efficiently
            </h3>
        </div>
    </div>
</header>


<div class="container align-content-center text-center mt-4">
    <a class="btn btn-secondary mb-4" href="#">Nuevo Prestamo</a>
    <a class="btn btn-primary mb-4" href="#">Lista De Prestamos</a>
    <a class="btn btn-primary mb-4" href="#">Lista De Libros</a>
    <a class="btn btn-primary mb-4" href="#">Lista De De Autores</a>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock contenidoDinamico %}