<nav class="navbar navbar-light bg-dark static-top">
  <div class="container">
    <a class="btn btn-primary" href="#}">Book Loans</a>
    <div class="d-flex justify-content-between me-10 pe-2">
      <a class="btn btn-sm btn-outline-secondary mx-2" href="#">Libros</a>
      <a class="btn btn-sm btn-outline-secondary mx-2" href="#">Prestamos</a>
      <a class="btn btn-sm btn-outline-secondary mx-2" href="#">Autores</a>
    </div>
    <a class="btn btn-primary" href="#signup">Biblioteca</a>
  </div>
</nav>
