{% extends 'base.html' %} {% block contenidoDinamico %}
<!-- form -->
<div class="container-md">
  <div class="row align-items-star">
    <div class="col-6">
      <h3 class="h3 mt-4">Registrar Prestamo</h3>
      <form action="{% url 'nuevo_prestamo' %}" method="post">
        {% csrf_token %} {{nuevo_prestamo_form}}
        <button type="submit" class="btn btn-primary mt-4">Registrar</button>
      </form>
    </div>
  </div>
</div>

<!-- button submit -->
<div class="align-content-center text-center">
  <a class="btn btn-secondary mb-4 mt-4" href="../">Volver a Inicio</a>
</div>
{% endblock contenidoDinamico %}
